#dependencies
node_modules/
package.json
package-lock.json

# production
dist/

# compile
compile/

# code
src/

#misc
.babelrc
.eslintrc
.prettierrc
LICENSE
.DS_Store
postcss.config.js
README.md

npm-debug.log*
