@tailwind base;
@tailwind components;
@tailwind utilities;

.style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}

.rotatey-0 {
  transform: rotateY(0deg);
}

.rotatey-180 {
  transform: rotateY(180deg);
}